.weather-container {
  position: absolute;
  width: 30vw;
  height: 20vh;
  left: 2%;
  top: 40%;

  background: #101744;
  border-radius: 19px;
}
.date-card {
  position: relative;
  width: 30vw;
  height: 4vh;
  display: flex;
  gap: 3rem;
  background: #ff4ade;
  border-radius: 19px 19px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 141.69%;
  padding-left: 22%;
  box-sizing: border-box;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.weather-card {
  color: white;
  display: flex;
  gap: 0.8rem;
}
.weather-card span {
  position: relative;
  width: 2.4vw;
  height: 0px;
  margin-top: 13%;
  border: 0.776765px solid #b4b3b3;
  transform: rotate(-90deg);
}
.cloud {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 0.8rem;

  margin-left: 7%;
  color: #ffffff;
  width: 15%;
}
.cloud img {
  width: 50px;
  height: 50px;
}
.weather-icon {
  width: 10px;
  height: 15px;
  padding-right: 4px;
}
.temp {
  font-size: 2rem;
  margin-top: 3%;
}
.wind {
  font-size: 0.8rem;
  margin-top: 2%;
}

@media screen and (min-width: 1400px) {
  .date-card {
    padding-left: 30%;
  }

  .cloud {
    font-size: 0.8rem;
  }
  .cloud img {
    width: 60px;
    height: 60px;
  }
  .weather-icon {
    width: 15px;
    height: 20px;
  }

  .wind {
    font-size: 0.9rem;
    margin-top: 2%;
  }
}
