.banner-img {
  width: 50vw;
  height: 100vh;
}
.already-login {
  position: absolute;
  width: 337px;
  height: 26px;
  left: 70px;
  top: 41px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 108.69%;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.login-btn {
  position: absolute;
  width: 106px;
  height: 32px;
  left: 320px;
  top: 35px;

  background: #72db73;
  border-radius: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 108.69%;

  letter-spacing: 0.02em;
  border: none;
  color: #ffffff;
}
.banner-heading {
  position: absolute;
  width: 500px;
  height: 143px;
  left: 72px;
  top: 433px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 2.6rem;
  line-height: 141.69%;
  /* or 78px */

  letter-spacing: 0.02em;
  background: none;
  color: #ffffff;
}

/* For mobile devices */
@media screen and (max-width: 480px) {
  .banner-img {
    width: 100vw;
    height: 100vh;
  }

  .already-login {
    width: auto;
    left: 25px;
    top: 18px;
    font-size: 1rem;
  }

  .login-btn {
    width: 60px;
    height: 24px;
    left: 240px;
    top: 15px;
    font-size: 0.8rem;
  }

  .banner-heading {
    width: 300px;
    height: 100px;
    left: 20px;
    top: 500px;
    font-size: 1.8rem;
    line-height: 130%;
  }
}

@media screen and (min-width: 1408px) {
  .banner-img {
    width: 50vw;
    height: 100vh;
  }

  .already-login {
    width: 30vw;
    left: 5%;
    top: 8%;
    font-size: 1.5rem;
  }

  .login-btn {
    width: 126px;
    height: 36px;
    left: 28%;
    top: 7%;
    font-size: 1.2rem;
  }

  .banner-heading {
    width: 40vw;
    height: 10vh;
    left: 5%;
    top: 70%;
    font-size: 3.5rem;
    line-height: 141.9%;
  }
}
